body {
    margin: 0 auto;
    min-width: 600px;
    width: 90%;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem
}

header {
    text-align: center;
}

h1, h2, h3 {
    font-weight: 300;
}

.author {
    font-style: italic
}

.left-img {
    float: left;
    margin-right: 20px;
}

.clearfix {
    clear: both
}

figcaption {
    text-align: center;
    font-style: italic;
}
