body {
    padding: 2rem;
    font-family: "Roboto", "Noto Sans", sans-serif;
    max-width: 980px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.87);
}

nav#TOC::before {
    content: "Inhalt";
    font-size: 3rem;
    text-align: center;
    display: block;
}

nav#TOC {
    margin: 0 auto;
    width: auto;
}

nav#TOC ul {
    width: auto;
}

h1 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}
